@import "normalize.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 20px;
}

h4 {
  margin: 6px 0;
  padding: 0;
}

button,
input {
  margin: 2px 6px 2px 0;
  padding: 2px 4px;
  min-width: 30px;
}

ul,
ol {
  margin: 0;
  padding-left: 16px;
}
li {
  margin: 4px 0;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.parent-comp {
  background-color: lightgoldenrodyellow;
}

.parent-comp,
.child-comp {
  border: 1px solid #ccc;
  padding: 6px 10px;
}

.child-comp {
  margin: 20px;
  background-color: white;
}

.error-field {
  border-color: red;
}

.tags-filter {
  margin: 16px 0;

  .tags-label {
    text-transform: capitalize;
    font-weight: bold;
  }

  button {
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    background-color: #eee;
    padding: 4px 6px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

    &.active-tag,
    &:hover {
      color: white;
      background-color: deepskyblue;
      border-color: deepskyblue;
    }
  }
}

.tags {
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  color: rgb(33, 84, 237);
  line-height: 15px;

  span {
    cursor: pointer;
    display: inline-block;
    background-color: aliceblue;
    border: 1px solid #abd8ff;
    padding: 2px 6px;
    border-radius: 12px;
    margin-right: 6px;
  }
}

.comments {
  margin-left: 10px;
  color: #999;
  font-weight: normal;
  &::before {
    content: "//";
    padding-right: 5px;
  }
}

.todos {
  .list {
    max-height: 253px;
    overflow-y: auto;
  }

  li {
    cursor: default;
  }

  .filters {
    margin: 4px 0 8px;
    font-size: 14px;

    button {
      text-transform: capitalize;
    }

    .active-filter {
      background-color: chartreuse;
    }
  }

  .completed {
    color: #999;
    text-decoration: line-through;
  }
}
